# Data Types and comments

We've already learned this before:

- `"I'm so excited to meet you guys there!"` is a data with a data type of string

There are several data types in Python, we'll explore three of them for now: `string`, `float` and `int`.

# Google Colab, Jupyter Notebook, and Visual Studio Code will "print" the last line of code automatically

Before we continue, please check below code

In [ ]:
"Hello!"
"Hi everyone"

'Hi everyone'

As you can see above, our result to above two lines of code will only show the result of the last line of code. This concept is called printing, we can print any code in any line by using `print()` like below:

In [ ]:
"Yes!"
print("Hello!")
"Hi!"

Yes!

'Hi!'

As you can see above we have 3 lines of code, but we only print the second and third line of code. The second line of code is printed because we use `print()`, while the third line of code is printed because it is the last line of code.

# Challenge!

## Challenge 1

Make sure both of the string below are printed

In [1]:
print("Halo dunia")
print("Hi world")

Halo dunia
Hi world

When you are done with the above challenge, then:
1. Input your student_id and name in the box below
2. Change the text "my result" below with the text "done"
3. Run the code block by pressing the play button.

In [11]:
!pip install rggrader

from rggrader import submit

# @title #### Student Identity
student_id = "REA3X5EN" # @param {type:"string"}
name = "Steven Adi Santoso" # @param {type:"string"}

result = "done"

# Submit Method
assignment_id = "002_data_types"
question_id = "01_using_print"
submit(student_id, name, assignment_id, result, question_id)

Requirement already satisfied: rggrader in c:\users\silve\conda\envs\skill-academy-ml\lib\site-packages (0.1.6)
Requirement already satisfied: requests in c:\users\silve\conda\envs\skill-academy-ml\lib\site-packages (from rggrader) (2.31.0)
Requirement already satisfied: pandas in c:\users\silve\conda\envs\skill-academy-ml\lib\site-packages (from rggrader) (2.1.3)
Requirement already satisfied: Pillow in c:\users\silve\conda\envs\skill-academy-ml\lib\site-packages (from rggrader) (10.1.0)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\silve\conda\envs\skill-academy-ml\lib\site-packages (from pandas->rggrader) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\silve\conda\envs\skill-academy-ml\lib\site-packages (from pandas->rggrader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\silve\conda\envs\skill-academy-ml\lib\site-packages (from pandas->rggrader) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\silve\conda\envs\skill-academy-ml\lib\site-packages (from pandas->rggrader) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\silve\conda\envs\skill-academy-ml\lib\site-packages (from requests->rggrader) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\silve\conda\envs\skill-academy-ml\lib\site-packages (from requests->rggrader) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\silve\conda\envs\skill-academy-ml\lib\site-packages (from requests->rggrader) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\silve\conda\envs\skill-academy-ml\lib\site-packages (from requests->rggrader) (2023.11.17)
Requirement already satisfied: six>=1.5 in c:\users\silve\conda\envs\skill-academy-ml\lib\site-packages (from python-dateutil>=2.8.2->pandas->rggrader) (1.16.0)

'Assignment successfully submitted'

# String

A string is a data type that is used to represent text. It is enclosed by either single or double quotes.

```python
'Thank you for coming to my TED talk'

"I'm so excited to meet you guys there!"
```

A string can be manipulated like what we've already seen in previous learning

```python
"I'm so {emotion} to meet you guys there!".replace("{emotion}", "excited")
```

We see above our more complex string from previous learning: `"I'm so excited to meet you guys there!"`, then we replace the `{emotion}` with `"excited"`.

In [ ]:
"aku suka kucing, khususnya kucing oren".replace("kucing", "beruang")

'aku suka kucing, khususnya kucing oren'

# Arguments

We'll learn more about method and a concept that's basically similar to method called function later, but for now, let's give a quick brief about methods and arguments.

If we see the code below:

```python
"I'm so {emotion} to meet you guys there!".replace("{emotion}", "excited")
```

What's called method is the `.replace()` part, while the `{emotion}` and `"excited"` are called arguments.

The number of arguments itself can be varied between method, sometimes a method can have no argument, sometimes it can have one, two, or even more arguments.

# String methods

## `.lower()`

This method will convert all characters in a string into lowercase

In [ ]:
"I'M NOT SHOUTING".lower()

"i'm not shouting"

## `.strip()`

This method will remove all leading and trailing whitespaces from a string

In [ ]:
"   Hello dunia      ".strip()

'Hello dunia'

## `.replace()`

This method will replace all occurrences of a string with another string

In [ ]:
"Bob is a cat".replace("cat", "dog")

'Bob is a dog'

If we add an empty string as the second argument, it will remove all occurrences of a string

In [ ]:
"cat cat cat dog human horse".replace("cat", "")

'   dog human horse'

We won't list down every methods here, you can check more on https://www.w3schools.com/python/python_ref_string.asp

# Challenge!

## Upper

Using `.upper()` method, convert the string below into uppercase

In [3]:
"hi my name is andi".upper()

'HI MY NAME IS ANDI'

When you are done with the above challenge, then:

1. Change the text "my result" below with the text "done"
2. Run the code block by pressing the play button.

In [12]:
# Submit Method
assignment_id = "002_data_types"
question_id = "02_upper"

result = "done"

submit(student_id, name, assignment_id, result, question_id)

'Assignment successfully submitted'

## Replace

Replace below name from "Ridho" to "Fajar"!

In [5]:
"Hi, my name is Ridho".replace("Ridho", "Fajar")

'Hi, my name is Fajar'

When you are done with the above challenge, then:

1. Change the text "my result" below with the text "done"
2. Run the code block by pressing the play button.

In [13]:
# Submit Method
assignment_id = "002_data_types"
question_id = "03_replace"

result = "done"

submit(student_id, name, assignment_id, result, question_id)

'Assignment successfully submitted'

## String

Remove all leading and trailing whitespaces from below string

In [7]:
"   HELLO   ".strip()

'HELLO'

When you are done with the above challenge, then:

1. Change the text "my result" below with the text "done"
2. Run the code block by pressing the play button.

In [14]:
# Submit Method
assignment_id = "002_data_types"
question_id = "04_string"

result = "done"

submit(student_id, name, assignment_id, result, question_id)

'Assignment successfully submitted'

## Method chaining

We can chain multiple methods together, for example:

```python
"I'm so excited to meet you guys there!".lower().replace("excited", "happy")
```

Will result in:

```python
"i'm so happy to meet you guys there!"
```

# Challenge

## Challenge 1

Replace all occurrences of "cat" to "" (empty string) and remove all leading whitespaces (the output should be: "dog human horse")

In [9]:
"cat cat cat dog human horse".replace("cat", "").strip()

'dog human horse'

When you are done with the above challenge, then:

1. Change the text "my result" below with the text "done"
2. Run the code block by pressing the play button.

In [15]:
# Submit Method
assignment_id = "002_data_types"
question_id = "05_method_chain_1"

result = "done"

submit(student_id, name, assignment_id, result, question_id)

'Assignment successfully submitted'

## Challenge 2

Convert below string to "IT'S SO COOL!"

In [17]:
"  It's so cool!    ".strip().upper()

"IT'S SO COOL!"

When you are done with the above challenge, then:

1. Change the text "my result" below with the text "done"
2. Run the code block by pressing the play button.

In [16]:
# Submit Method
assignment_id = "002_data_types"
question_id = "06_method_chain_2"

result = "done"

submit(student_id, name, assignment_id, result, question_id)

'Assignment successfully submitted'

## Challenge 3

Convert below string to "I'm not a bird"

Note:

- If you want to delete a word from a sentence, make sure you add space before and after the word so it will remove the word and the space before and after it.

```python
"I'm so hungry".replace("so", "") # WRONG, it will result in "I'm  hungry" (notice the extra space)
"I'm so hungry".replace(" so ", "") # CORRECT, it will result in "I'm hungry"
```

In [18]:
"I'm not a cat".replace("cat", "bird")

"I'm not a bird"

When you are done with the above challenge, then:

1. Change the text "my result" below with the text "done"
2. Run the code block by pressing the play button.

In [19]:
# Submit Method
assignment_id = "002_data_types"
question_id = "07_method_chain_3"

result = "done"

submit(student_id, name, assignment_id, result, question_id)

'Assignment successfully submitted'

# Comment

Comment is a text that is ignored by the computer, it's mostly used to explain what a code does.

In [ ]:
# This is a comment, this line will not be executed
# def my_function():
#     print("Hello from a function")
# above code will not be executed either

"This line will be executed" # print("This line will not be executed")

'This line will be executed'

# String concatenation

We can concatenate (combine) two strings together using `+` operator

In [ ]:
"Hello" + " " + "world!"

'Hello world!'

# Challenge

## Challenge 1

Try to concatenate below string with Rudi's name

In [20]:
"Imam, Andi, Ridho" + ", Rudi" # Convert to "Imam, Andi, Ridho, Rudi"

'Imam, Andi, Ridho, Rudi'

When you are done with the above challenge, then:

1. Change the text "my result" below with the text "done"
2. Run the code block by pressing the play button.

In [21]:
# Submit Method
assignment_id = "002_data_types"
question_id = "08_concat"

result = "done"

submit(student_id, name, assignment_id, result, question_id)

'Assignment successfully submitted'

# Numbers (integers and floats)

Numbers in Python are divided into two types: integers and floats. Integers are whole numbers, while floats are decimal numbers.

Below are integers:

```python
1
30
70
```

Below are floats:

```python
1.0
30.0
70.0
```

We can do basic math operations with either integers or floats:

In [ ]:
9-5*2

-1

# Challenge!

## Challenge 1

Create a formula of 10 times 2.
The output = 20

In [22]:
#write your code below
10*2

20

When you are done with the above challenge, then:

1. Change the text "my result" below with the formula you created above.
2. Run the code block by pressing the play button.

In [23]:
# Submit Method
assignment_id = "002_data_types"
question_id = "09_math_1"

result = "10*2"

submit(student_id, name, assignment_id, result, question_id)

'Assignment successfully submitted'

## Challenge 2

Create a formula of 10 plus 2 then times 3 (remember the order of operations, you might need to use parentheses?)
The output = 36

In [25]:
#write your code below
(10+2)*3

36

When you are done with the above challenge, then:

1. Change the text "my result" below with the formula you created above.
2. Run the code block by pressing the play button.

In [26]:
# Submit Method
assignment_id = "002_data_types"
question_id = "10_math_2"

result = "(10+2)*3"

submit(student_id, name, assignment_id, result, question_id)

'Assignment successfully submitted'