# Showing your data in a table using Gradio

After learning using table question answering pipeline and the answer is a text, now let's try to use the pipeline to filter given table data to only show the data that asked by the user.

![Using Gradio](https://storage.googleapis.com/rg-ai-bootcamp/python-prep/using_gradio-min.png)

In [ ]:
%pip install gradio
%pip install transformers
%pip install pandas

In [ ]:
data = [
    {
        "House": "House 1",
        "City": "Jakarta",
        "Price (in million IDR)": "5000",
        "Rooms": "2 bed, 2 bath",
        "Facilities": "Pool, Garage, Gym, Garden",
        "Furnished": "Yes",
    },
    {
        "House": "House 2",
        "City": "Surabaya",
        "Price (in million IDR)": "2000",
        "Rooms": "3 bed, 2 bath",
        "Facilities": "Garage, Library",
        "Furnished": "No",
    },
    {
        "House": "House 3",
        "City": "Malang",
        "Price (in million IDR)": "1500",
        "Rooms": "2 bed, 1 bath",
        "Facilities": "Pool, Gym, Sauna",
        "Furnished": "No",
    },
    {
        "House": "House 4",
        "City": "Jakarta",
        "Price (in million IDR)": "5300",
        "Rooms": "1 bed, 1 bath",
        "Facilities": "Gym, Rooftop",
        "Furnished": "Yes",
    },
    {
        "House": "House 5",
        "City": "Surabaya",
        "Price (in million IDR)": "2200",
        "Rooms": "3 bed, 2 bath",
        "Facilities": "Pool, Garage, Gym, Library",
        "Furnished": "No",
    },
    {
        "House": "House 6",
        "City": "Malang",
        "Price (in million IDR)": "1600",
        "Rooms": "2 bed, 2 bath",
        "Facilities": "Garage, Gym, Garden",
        "Furnished": "Yes",
    },
    {
        "House": "House 7",
        "City": "Jakarta",
        "Price (in million IDR)": "4900",
        "Rooms": "4 bed, 3 bath",
        "Facilities": "Pool, Garage, Sauna",
        "Furnished": "Yes",
    },
    {
        "House": "House 8",
        "City": "Surabaya",
        "Price (in million IDR)": "2100",
        "Rooms": "3 bed, 3 bath",
        "Facilities": "Gym, Garden",
        "Furnished": "No",
    },
    {
        "House": "House 9",
        "City": "Malang",
        "Price (in million IDR)": "1400",
        "Rooms": "4 bed, 2 bath",
        "Facilities": "Garage, Rooftop",
        "Furnished": "Yes",
    },
    {
        "House": "House 10",
        "City": "Jakarta",
        "Price (in million IDR)": "5100",
        "Rooms": "3 bed, 1 bath",
        "Facilities": "Pool, Garden, Sauna",
        "Furnished": "No",
    },
]

# Challenge: Filter by tuple

To complete the whole functionality we can use everything that we've learned so far! You'll be guided for some parts, but for most of the parts you'll need to figure it out yourself. Good luck!

```python
{'answer': 'AVERAGE > 5000, 5300, 4900, 5100',
 'coordinates': [(0, 2), (3, 2), (6, 2), (9, 2)],
 'cells': ['5000', '5300', '4900', '5100'],
 'aggregator': 'AVERAGE'}
```

For the first part that you need to finish our last challenge is to try to filter all of `data` by the coordinates given by the output of the pipeline. Basically if you're seeing above result at the `coordinates` key, the thing that we're only need to filter the data by is the first element of every tuple.

For example `(0, 2)` represent that the coordinate that we need is `data[0]`, for the `2` part is the second key of that data (which is `Price (in million IDR)`) and we can ignore it per our requirement.

So:
If the tuple == `(0, 2)`, we need to get the data at `data[0]`
If the tuple == `(3, 2)`, we need to get the data at `data[3]`
If the tuple == `(6, 2)`, we need to get the data at `data[6]`
And so on, again, we can ignore the second key of the tuple.

In [ ]:
def map_coordinates_to_data(coordinates, data):
    return None

map_coordinates_to_data([(0, 0), (2, 1), (4, 0)], data)

# The output should be
# [
#    {
#      "House": "House 1",
#      "City": "Jakarta",
#      "Price (in million IDR)": "5000",
#      "Rooms": "2 bed, 2 bath",
#      "Facilities": "Pool, Garage, Gym, Garden",
#      "Furnished": "Yes",
#    },
#    {
#      "House": "House 3",
#      "City": "Malang",
#      "Price (in million IDR)": "1500",
#      "Rooms": "2 bed, 1 bath",
#      "Facilities": "Pool, Gym, Sauna",
#      "Furnished": "No",
#    },
#    {
#      "House": "House 5",
#      "City": "Surabaya",
#      "Price (in million IDR)": "2200",
#      "Rooms": "3 bed, 2 bath",
#      "Facilities": "Pool, Garage, Gym, Library",
#      "Furnished": "No",
#    }

When you are done with the above challenge, then:

1. Run the code block by pressing the play button.

In [ ]:
!pip install rggrader

from rggrader import submit

# @title #### Student Identity
student_id = "your student id" # @param {type:"string"}
name = "your name" # @param {type:"string"}

# Submit Method
assignment_id = "014_practical_example_tableqa_part_2"
question_id = "01_map_data"

submit(student_id, name, assignment_id, str(map_coordinates_to_data([(1,1)], data)), question_id)

# Challenge: Map dictionary to list

On Gradio, if we want to correctly render table it should come in below pattern:

```python
[
    ["row 1 col 1", "row 1 col 2", "row 1 col 3"],
    ["row 2 col 1", "row 2 col 2", "row 2 col 3"],
    ["row 3 col 1", "row 3 col 2", "row 3 col 3"],
]
```

Now, try to create a function that will map your dictionary data like so:

```python
[
    {
      "House": "House 1",
      "City": "Jakarta",
      "Price (in million IDR)": "5000",
      "Rooms": "2 bed, 2 bath",
      "Facilities": "Pool, Garage, Gym, Garden",
      "Furnished": "Yes",
    },
    {
      "House": "House 3",
      "City": "Malang",
      "Price (in million IDR)": "1500",
      "Rooms": "2 bed, 1 bath",
      "Facilities": "Pool, Gym, Sauna",
      "Furnished": "No",
    },
    {
      "House": "House 5",
      "City": "Surabaya",
      "Price (in million IDR)": "2200",
      "Rooms": "3 bed, 2 bath",
      "Facilities": "Pool, Garage, Gym, Library",
      "Furnished": "No",
    }
]
```

To the pattern that we need to render the table correctly, like so:

```python
[
    ["House 1", "Jakarta", "5000", "2 bed, 2 bath", "Pool, Garage, Gym, Garden", "Yes"],
    ["House 3", "Malang", "1500", "2 bed, 1 bath", "Pool, Gym, Sauna", "No"],
    ["House 5", "Surabaya", "2200", "3 bed, 2 bath", "Pool, Garage, Gym, Library", "No"],
]
```

In [ ]:
def map_data_to_table_format(data):
    return None # your code here

map_data_to_table_format([
    {
        "House": "House 2",
        "City": "Surabaya",
        "Price (in million IDR)": "2000",
        "Rooms": "3 bed, 2 bath",
        "Facilities": "Garage, Library",
        "Furnished": "No",
    },
    {
        "House": "House 10",
        "City": "Jakarta",
        "Price (in million IDR)": "5100",
        "Rooms": "3 bed, 1 bath",
        "Facilities": "Pool, Garden, Sauna",
        "Furnished": "No",
    }
])

When you are done with the above challenge, then:

1. Run the code block by pressing the play button.

In [ ]:
# Submit Method
assignment_id = "014_practical_example_tableqa_part_2"
question_id = "02_data_table"

data_table = [
    {
      "House": "House 1",
      "City": "Jakarta",
      "Price (in million IDR)": "5000",
      "Rooms": "2 bed, 2 bath",
      "Facilities": "Pool, Garage, Gym, Garden",
      "Furnished": "Yes",
    },
    {
      "House": "House 3",
      "City": "Malang",
      "Price (in million IDR)": "1500",
      "Rooms": "2 bed, 1 bath",
      "Facilities": "Pool, Gym, Sauna",
      "Furnished": "No",
    },
    {
      "House": "House 5",
      "City": "Surabaya",
      "Price (in million IDR)": "2200",
      "Rooms": "3 bed, 2 bath",
      "Facilities": "Pool, Garage, Gym, Library",
      "Furnished": "No",
    }
]

submit(student_id, name, assignment_id, str(map_data_to_table_format(data_table)), question_id)

# Challenge: Create the function

For the rest of how to display the table we'll use something called `DataFrame`, it's a complex data structure to manage table data more easily. To ease our learning all needed function is already provided, it's not that hard so feel free to read it yourself on the code block below

Now the only thing you need is to fulfill below `table_qa` function, basically you just need to create a function that retrieve argument of string and then this function will pass that string to table QA pipeline and then return the result of the pipeline (Hint: Just copy paste the code from the previous notebook and modify it a little bit)

After that you've done! Just run below code and have fun on querying the table to answer any question that you might have on given 10 houses dataset!

In [ ]:
from transformers import pipeline
import gradio as gr

def table_qa(inp):
  return None # your code here

def data_classifier(inp):
  model_answer = table_qa(inp)
  data = map_data_to_table_format(map_coordinates_to_data(model_answer, data))
  return gr.Dataframe(data, headers=["House", "City", "Price", "Rooms", "Facilities", "Furnished"], col_count=6)

gr.Interface(fn=data_classifier, inputs="text", outputs="dataframe").launch()

When you are done with the above challenge, then:

1. Run the code block by pressing the play button.

In [ ]:
# Submit Method
assignment_id = "014_practical_example_tableqa_part_2"
question_id = "03_table_qa"

submit(student_id, name, assignment_id, str(table_qa("How many houses are there in Malang?")), question_id)