# Appending data

We can add new data to an existing list using the append() method. The append() method adds the data to the end of the list.

In [1]:
names = [
    "Peter",
    "John",
    "Mary",
    "George",
    "Paul",
]

print(names)
names.append("Jill")
print(names)

['Peter', 'John', 'Mary', 'George', 'Paul']
['Peter', 'John', 'Mary', 'George', 'Paul', 'Jill']

# Inserting data at specific index

If we want to insert data at a specific index rather than at the end of the list, we can use the insert() method.

In [2]:
names = [
    "Peter",
    "John",
    "Mary",
    "George",
    "Paul",
]

print(names)
names.insert(2, "Jill")
print(names)

['Peter', 'John', 'Mary', 'George', 'Paul']
['Peter', 'John', 'Jill', 'Mary', 'George', 'Paul']

As you can see above, `Jill` was added to the second index of the list and pushing the name `Mary` to be the third index.

# Popping data

We can remove the last data from a list using the pop() method. The pop() method returns the data that was removed.

In [3]:
names = [
    "Peter",
    "John",
    "Mary",
    "George",
    "Paul",
]

print(names)
names.pop()
print(names)

['Peter', 'John', 'Mary', 'George', 'Paul']
['Peter', 'John', 'Mary', 'George']

You can specify the index of the data you want to remove too like so:

In [4]:
names = [
    "Peter",
    "John",
    "Mary",
    "George",
    "Paul",
]

print(names)
names.pop(2)
print(names)

['Peter', 'John', 'Mary', 'George', 'Paul']
['Peter', 'John', 'George', 'Paul']

# Challenge!

# Challenge 1

Append new car named `Toyota` to the list of cars.

In [5]:
cars = ["BMW", "Audi", "Mercedes", "Volkswagen", "Porsche"]

# Add your code below!
cars.append("Toyota")
print(cars) # Expected output: ['BMW', 'Audi', 'Mercedes', 'Volkswagen', 'Porsche', 'Toyota']

['BMW', 'Audi', 'Mercedes', 'Volkswagen', 'Porsche', 'Toyota']

When you are done with the above challenge, then:
1. Input your student_id and name in the box below
2. Run the code block by pressing the play button.

In [6]:
!pip install rggrader

from rggrader import submit

# @title #### Student Identity
student_id = "REA3X5EN" # @param {type:"string"}
name = "Steven Adi Santoso" # @param {type:"string"}

# Submit Method
assignment_id = "008_more_on_list"
question_id = "01_more_list_1"
submit(student_id, name, assignment_id, cars[5], question_id)

Requirement already satisfied: rggrader in d:\repositories\skill-academy-ml\venv\lib\site-packages (0.1.6)
Requirement already satisfied: requests in d:\repositories\skill-academy-ml\venv\lib\site-packages (from rggrader) (2.31.0)
Requirement already satisfied: pandas in d:\repositories\skill-academy-ml\venv\lib\site-packages (from rggrader) (2.1.3)
Requirement already satisfied: Pillow in d:\repositories\skill-academy-ml\venv\lib\site-packages (from rggrader) (10.1.0)
Requirement already satisfied: numpy<2,>=1.22.4 in d:\repositories\skill-academy-ml\venv\lib\site-packages (from pandas->rggrader) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\repositories\skill-academy-ml\venv\lib\site-packages (from pandas->rggrader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\repositories\skill-academy-ml\venv\lib\site-packages (from pandas->rggrader) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in d:\repositories\skill-academy-ml\venv\lib\site-packages (from pandas->rggrader) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in d:\repositories\skill-academy-ml\venv\lib\site-packages (from requests->rggrader) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in d:\repositories\skill-academy-ml\venv\lib\site-packages (from requests->rggrader) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in d:\repositories\skill-academy-ml\venv\lib\site-packages (from requests->rggrader) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in d:\repositories\skill-academy-ml\venv\lib\site-packages (from requests->rggrader) (2023.11.17)
Requirement already satisfied: six>=1.5 in d:\repositories\skill-academy-ml\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas->rggrader) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

'Assignment successfully submitted'

## Challenge 2

Insert a new car named `Honda` between `Mercedes` and `Volkswagen`

In [7]:
cars = ["BMW", "Audi", "Mercedes", "Volkswagen", "Porsche"]

# Add your code below!
cars.insert(3, "Honda")
print(cars) # Expected output: ['BMW', 'Audi', 'Mercedes', 'Honda', 'Volkswagen', 'Porsche']

['BMW', 'Audi', 'Mercedes', 'Honda', 'Volkswagen', 'Porsche']

When you are done with the above challenge, then:
1. Run the code block by pressing the play button.

In [8]:
# Submit Method
assignment_id = "008_more_on_list"
question_id = "02_more_list_2"

submit(student_id, name, assignment_id, cars[3], question_id)

'Assignment successfully submitted'

## Challenge 3

Remove "BMW" and "Porche" from the list of cars.

In [10]:
cars = ["BMW", "Audi", "Mercedes", "Volkswagen", "Porsche"]

# Add your code below!
cars = cars[1:-1]
print(cars) # Expected output: ['Audi', 'Mercedes', 'Volkswagen']

['Audi', 'Mercedes', 'Volkswagen']

When you are done with the above challenge, then:
1. Run the code block by pressing the play button.

In [11]:
# Submit Method
assignment_id = "008_more_on_list"
question_id = "03_more_list_3"

submit(student_id, name, assignment_id, cars[0], question_id)

'Assignment successfully submitted'

# Filtering data on list by creating a new list

We can filter data on a list by creating a new list. Let's say we want to filter out all employees who are not in the `Sales` department. We can do so by creating a new list and adding only the employees who are in the `Sales` department to the new list.

How so? Using combination of `for` loop and `if` statement of course!

In [12]:
all_numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
odd_numbers = []

for number in all_numbers:
    if number % 2 == 1:
        odd_numbers.append(number)

print(odd_numbers)

[1, 3, 5, 7, 9]

# Challenge!

## Challenge 1

Create a new list of numbers that is greater than 5 from the list of numbers below.

In [13]:
all_numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
greater_than_five = []

for number in all_numbers:
    if number > 5:
        greater_than_five.append(number)

print(greater_than_five) # Expected output: [6, 7, 8, 9]

[6, 7, 8, 9]

When you are done with the above challenge, then:
1. Run the code block by pressing the play button.

In [14]:
# Submit Method
assignment_id = "008_more_on_list"
question_id = "04_filter_1"

submit(student_id, name, assignment_id, str(greater_than_five), question_id)

'Assignment successfully submitted'

## Challenge 2

Get all names that are longer than 5 characters from the list of words below.

In [16]:
all_names = ['John', 'Ardian', 'Jill', 'Jennifer', 'Pahlevi', 'Ricky']
names_more_than_five_characters = [name for name in all_names if len(name) > 5]

# Add your code below!

print(names_more_than_five_characters) # Expected output: ['Ardian', 'Jennifer', 'Pahlevi']

['Ardian', 'Jennifer', 'Pahlevi']

When you are done with the above challenge, then:
1. Run the code block by pressing the play button.

In [17]:
# Submit Method
assignment_id = "008_more_on_list"
question_id = "05_filter_2"

submit(student_id, name, assignment_id, str(names_more_than_five_characters), question_id)

'Assignment successfully submitted'