# Conditional == The art of making true things true and false things false

We'll dive in a little bit on the theoritical side of conditionals.

`True` and `False` are a data type in Python called booleans. They are used to represent the truth value of an expression.

When we're working with `if` statements, we're basically saying to the computer: "If this is equal to `True`, do this. If it's equal to `False`, do that."

In [ ]:
if True:
    print("True")

if True:
    print("False")

True
False

So basically when we're working with conditional, we're trying to manipulate data to make sure it's end up with `True` or `False`.

Like previous lesson, when we're doing example like so:

In [ ]:
print("Imam" == "Imam")
print("Andi" == "Imam")

True
False

As you can see above, `"Imam" == "Imam"` is equal to `True`, while `"Andi" == "Imam"` is equal to `False`.

So basically when we're working with `if`:

- We should manipulate the code after the `if` to make sure it's either values: `True` or `False`.

This `"Imam" == "Imam"` and `"Andi" == "Imam"` is called **logical statement**. Logical statement is a statement that will result in `True` or `False`.

# Other example of logical statement

## Logical statement on numbers

Below are several examples of logical statement on numbers.

In [ ]:
print(1 == 1) # True -> 1 is equal to 1
print(1 == 2) # False -> 1 is not equal to 2
print(1 > 2) # False -> 1 is not greater than 2
print(1 < 2) # True -> 1 is less than 2
print(1 >= 2) # False -> 1 is not greater than or equal to 2
print(1 <= 2) # True -> 1 is less than or equal to 2
print(1 <= 1) # True -> 1 is less than or equal to 1

True
False
False
True
False
True
True

## Negation

Negation is a statement that will invert the value of the statement. Basically, if the statement is `True`, it will be converted to `False`, and `False` will be converted to `True`.

In [ ]:
print(False != True) # True -> False is not equal to True
print(True != True) # False -> True is equal to True

# `and` and `or`

`and` and `or` are logical operator that combine two or more logical statement.

`and` will return `True` if all of the logical statement is `True`, and `False` if one of the logical statement is `False`.

`or` will return `True` if one of the logical statement is `True`, and `False` if all of the logical statement is `False`.

In [ ]:
print(True and True) # True -> All conditions are True
print(True and False) # False -> One condition is False
print(False and False) # False -> All conditions are False

print(True or True) # True -> All conditions are True
print(True or False) # True -> One condition is True
print(False or False) # False -> All conditions are False

print(1 == 1 and 2 == 2) # True -> All conditions are True
print(1 == 1 and 2 == 3) # False -> One condition is False
print(1 != 1 and 2 == 3) # False -> All conditions are False

print(1 == 1 or 2 == 2) # True -> All conditions are True
print(1 == 1 or 2 == 3) # True -> One condition is True
print(1 != 1 or 2 == 3) # False -> All conditions are False

# Conditional function

Let's take our learning to the next level by creating a function that will return `True` or `False` based on the input. We'll call this function `is_even_and_divisible_by_five`.

In [ ]:
def is_even_and_divisible_by_five(number):
    return number % 2 == 0 and number % 5 == 0

print(is_even_and_divisible_by_five(10)) # True
print(is_even_and_divisible_by_five(5)) # False
print(is_even_and_divisible_by_five(9)) # False
print(is_even_and_divisible_by_five(30)) # True

True
False
False
True

Note: `%` in Python is called modulus. It will return the remainder of the division. For example `5 % 2` will return `1` because `5 / 2` is `2` with remainder `1`, while `4 % 2` will return `0` because `4 / 2` is `2` with remainder `0`.

# Challenge!

## Challenge 1

Create a function that will return `True` if the input is divisible by 2 and 3, and `False` if it's not.

In [2]:
def is_divisible_by_two_and_three(number):
    return number % 2 == 0 and number % 3 == 0 # Replace this line with your code

print(is_divisible_by_two_and_three(6)) # True
print(is_divisible_by_two_and_three(7)) # False
print(is_divisible_by_two_and_three(4)) # False
print(is_divisible_by_two_and_three(12)) # True

True
False
False
True

When you are done with the above challenge, then:
1. Input your student_id and name in the box below
2. Run the code block by pressing the play button.

In [3]:
!pip install rggrader

from rggrader import submit

# @title #### Student Identity
student_id = "REA3X5EN" # @param {type:"string"}
name = "Steven Adi Santoso" # @param {type:"string"}

# Submit Method
assignment_id = "005_conditional_part_2"
question_id = "01_conditional_function_1"
submit(student_id, name, assignment_id, str(is_divisible_by_two_and_three(8)), question_id)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: rggrader in d:\repositories\skill-academy-ml\venv\lib\site-packages (0.1.6)
Requirement already satisfied: requests in d:\repositories\skill-academy-ml\venv\lib\site-packages (from rggrader) (2.31.0)
Requirement already satisfied: pandas in d:\repositories\skill-academy-ml\venv\lib\site-packages (from rggrader) (2.1.3)
Requirement already satisfied: Pillow in d:\repositories\skill-academy-ml\venv\lib\site-packages (from rggrader) (10.1.0)
Requirement already satisfied: numpy<2,>=1.22.4 in d:\repositories\skill-academy-ml\venv\lib\site-packages (from pandas->rggrader) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\repositories\skill-academy-ml\venv\lib\site-packages (from pandas->rggrader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\repositories\skill-academy-ml\venv\lib\site-packages (from pandas->rggrader) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in d:\repositories\skill-academy-ml\venv\lib\site-packages (from pandas->rggrader) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in d:\repositories\skill-academy-ml\venv\lib\site-packages (from requests->rggrader) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in d:\repositories\skill-academy-ml\venv\lib\site-packages (from requests->rggrader) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in d:\repositories\skill-academy-ml\venv\lib\site-packages (from requests->rggrader) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in d:\repositories\skill-academy-ml\venv\lib\site-packages (from requests->rggrader) (2023.11.17)
Requirement already satisfied: six>=1.5 in d:\repositories\skill-academy-ml\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas->rggrader) (1.16.0)

'Assignment successfully submitted'

## Challenge 2

Create a function that will return `True` if the input is divisible by 4 and 6, and `False` if it's not.

In [4]:
def is_divisible_by_four_and_six(number):
    return number % 4 == 0 and number % 6 == 0 # Replace this line with your code

print(is_divisible_by_four_and_six(24)) # True
print(is_divisible_by_four_and_six(25)) # False
print(is_divisible_by_four_and_six(36)) # True

True
False
True

When you are done with the above challenge, then:

1. Run the code block by pressing the play button.

In [5]:
# Submit Method
assignment_id = "005_conditional_part_2"
question_id = "02_conditional_function_2"

submit(student_id, name, assignment_id, str(is_divisible_by_four_and_six(50)), question_id)

'Assignment successfully submitted'

## Challenge 3

Create a function that will return `True` if the input is either a person named "Levi" or "Ricky", and `False` if it's not.

In [6]:
def is_levi_or_ricky(name):
    return name in ["Levi", "Ricky"] # Replace this line with your code

print(is_levi_or_ricky("Levi")) # True
print(is_levi_or_ricky("Ricky")) # True
print(is_levi_or_ricky("Calvin")) # False
print(is_levi_or_ricky("Nick")) # False

True
True
False
False

When you are done with the above challenge, then:

1. Run the code block by pressing the play button.

In [7]:
# Submit Method
assignment_id = "005_conditional_part_2"
question_id = "03_conditional_function_3"

submit(student_id, name, assignment_id, str(is_levi_or_ricky("Levi")), question_id)

'Assignment successfully submitted'

# Multiple condition

For multiple condition such as: When we're creating a function to make sure that the return is only true when the employee type either `developer` or `designer` and the experience is more than 2 years, we can use combination of `and` and `or` to make sure that the condition is met. Let's see the example below:

In [ ]:
def experienced_dev_or_design(role, years):
    return (role == "dev" or role == "design") and years >= 2

print(experienced_dev_or_design("dev", 3)) # True

True

In [ ]:
not (True and False)

True

So how does that work? When working with conditionals, Python will start to evaluate the condition that has parentheses first. So in below case:

```python
(role == "dev" or role == "design") and years >= 2
```

Python will evaluate the condition `role == "dev" or role == "design"` first, so, if for example the `role` is equal to `dev`, the result would be:

```python
(True or False) and years >= 2
```

Then it will be evaluated to:

```python
True and years >= 2
```

Then, if the `years` is equal to `3`, the result would be:

```python
True and True
```

When working with multiple conditionals, it's always easier "to see" the conditionals by evaluating it yourself one by one.

## No parentheses

What if there is no parentheses? Well, Python will evaluate the conditionals from left to right. Let's see that in action:


```python
role = "dev"
years = 3

role == "dev" or role == "design" and years >= 2
True or False and True # We evaluate each logical statement first
True and True # Then we evaluate left conditional first (True or False)
True # Then we evaluate the next most left conditional (True and True)
```

The parentheses is mostly used to maintain readability of the code. So, if you're working with multiple conditionals, it's always better to use parentheses to make sure that the conditionals is evaluated in the order that you want and avoid confusion.

# Challenge!

## First Challenge

Create a function that will return true if the gender is equal to `male` and the profession is equal to `writer` or `storyteller`.

Hint:
- Make sure you add parentheses to make sure that the conditionals is evaluated in the order that you want
- Profession should be evaluated independently first before you evaluate the gender with the evaluated profession

In [8]:
def get_correct_person(gender, profession):
    return gender == "male" and profession in ["writer", "storyteller"] # Replace this line with your code

print(get_correct_person("male", "writer")) # True
print(get_correct_person("male", "storyteller")) # True
print(get_correct_person("female", "writer")) # False
print(get_correct_person("male", "doctor")) # False

True
True
False
False

When you are done with the above challenge, then:

1. Run the code block by pressing the play button.

In [9]:
# Submit Method
assignment_id = "005_conditional_part_2"
question_id = "04_multiple_conditional_1"

submit(student_id, name, assignment_id, str(get_correct_person("female", "doctor")), question_id)

'Assignment successfully submitted'

## Second challenge

Create a function that will return true if the house price is less than 1000, the house type is equal to `townhouse` or `apartment`, and the house location is equal to `Jakarta` or `Bandung`.

In [10]:
def is_house_affordable(price, house_type, location):
    # Your code here
    return price < 1000 and house_type in ["townhouse", 'apartment'] and location in ["Jakarta", "Bandung"]

print(is_house_affordable(900, "townhouse", "Jakarta")) # Should return True because price is less than 1000, house type is townhouse and location is Jakarta
print(is_house_affordable(450, "townhouse", "Bandung")) # Should return True because price is less than 1000, house type is townhouse and location is Bandung
print(is_house_affordable(900, "villa", "Jakarta")) # Should return False because even though the price is less than 1000 and location is Jakarta, the house type is not townhouse or apartment
print(is_house_affordable(1000, "townhouse", "Jakarta")) # Should return False because price is not less than 1000
print(is_house_affordable(500, "apartment", "Bandung")) # Should return True because price is less than 1000, house type is apartment and location is Bandung
print(is_house_affordable(2000, "townhouse", "Paris")) # Should return False because price is more than 1000 and location is not Jakarta or Bandung
print(is_house_affordable(900, "apartment", "Tokyo")) # Should return False because even though the price is less than 1000 and house type is apartment, the location is not Jakarta or Bandung
print(is_house_affordable(850, "apartment", "Jakarta")) # Should return True because price is less than 1000, house type is apartment and location is Jakarta
print(is_house_affordable(1050, "apartment", "Bandung")) # Should return False because price is not less than 1000

True
True
False
False
True
False
False
True
False

When you are done with the above challenge, then:

1. Run the code block by pressing the play button.

In [11]:
# Submit Method
assignment_id = "005_conditional_part_2"
question_id = "05_multiple_conditional_2"

submit(student_id, name, assignment_id, str(is_house_affordable(1000, "apartment", "Bandung")), question_id)

'Assignment successfully submitted'